### 1. Copy the code below into a jupyter notebook

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

df1 = pd.read_csv('https://gist.githubusercontent.com/zgulde/cf9e11788c122bf6a75447209f8a9f0e/raw/17535dc2c29d6c47c228279e8941c037bb2d4405/one.csv')
df2 = pd.read_csv('https://gist.githubusercontent.com/zgulde/cf9e11788c122bf6a75447209f8a9f0e/raw/17535dc2c29d6c47c228279e8941c037bb2d4405/two.csv')
df3 = pd.read_csv('https://gist.githubusercontent.com/zgulde/cf9e11788c122bf6a75447209f8a9f0e/raw/a6e34db05ac8d817789c205787527974fa10c092/three.csv')

### 2. For df1:

- Take a look at the data in df1.
- Does x increase from time one to time two?
- Visualize the relationship between x and time.
- Run a statistical test to further examine the relationship between these features.

In [7]:
df1.shape

(200, 3)

In [25]:
df1

    group         x time
0       a  7.087113  one
1       a  5.164441  one
2       a  6.150206  one
3       a  3.732648  one
4       a  5.181035  one
..    ...       ...  ...
195     b  9.308194  two
196     a  3.931530  two
197     a  3.385066  two
198     b  8.247980  two
199     b  8.817188  two

[200 rows x 3 columns]

In [14]:
df1.isnull().sum()

group    0
x        0
time     0
dtype: int64

In [29]:
ax = df1[df1.time == 'one'].x.plot.hist(label='time=one',alpha=.7)
df1[df1=time =='two'].x.plot.hist(label='time=two',ax=ax,alpha=.7)
ax.legend()

SyntaxError: invalid syntax (<ipython-input-29-307fc70cc646>, line 2)

In [ ]:
df1.group

### 3. For df2:

- Take a look at the data in df2.
- Visualize the relationship between x and y.
- How would you describe the relationship between x and y?
- Run a statistical test to examine the relationship between x and y.

### 4. For df3:

- Take a look at the data in df3
- Which surgeon has the higher success rate?
- If you had to have heart bypass surgery, which surgeon should you go to?

In [20]:
df3.groupby('surgeon').success.mean()

surgeon
A    0.877083
B    0.723077
Name: success, dtype: float64

In [22]:
df3.groupby(['surgeon', 'surgery']).success.mean()

surgeon  surgery
A        appendectomy    0.934383
         heart bypass    0.656566
B        appendectomy    0.931373
         heart bypass    0.672249
Name: success, dtype: float64

In [23]:
df3.surgeon.value_counts()

B    520
A    480
Name: surgeon, dtype: int64

In [24]:
df3.groupby(['surgeon', 'surgery']).success.size()

surgeon  surgery
A        appendectomy    381
         heart bypass     99
B        appendectomy    102
         heart bypass    418
Name: success, dtype: int64

### 5. For df1 and df2, what happens to the relationships if you take into account the group feature?